jezek_dietrich_tool_challenge.pdf
jezek_dietrich_tool_challenge.log
jezek_dietrich_tool_challenge.blg
jezek_dietrich_tool_challenge.bbl
jezek_dietrich_tool_challenge.synctex.gz
jezek_dietrich_tool_challenge.aux
